:root{
    --color-dark: #241e38;;
    --color-light:#f0eef6;
    --color-gray:#9e98b3;
    --color-primary:rgb(12, 5, 5);
    --color-secondary:#d6ccff;
    --color-danger:#fb5151;
    --color-black:#000;
    --color-success:#51fb51;
    --color-white:#ffffff;
}




*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: "ubuntu", sans-serif;
   color: var(--color-dark);
   background-color: var(--color-light);
   overflow-x: hidden;
   text-decoration: none;
}

/*GENERAL STYLES */
.container{
    width:80%;
    margin:0 auto;
    border: 1px solid transparent;
}





/* ------NAVBAR --------*/

nav{
    width: 100%;
    background-color: var(--color-white);
    padding:0.7rem 0 ;
    position: fixed;
    top: 0;
    z-index: 10;
    border: 1px solid transparent;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-photo{
    position:relative;
    align-items:center;
    display:flex;
    justify-content:center;
 }
 
 .profile-photo img{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border:3px solid grey;
     
 }




/* ------------------MAIN--------------------------*/

main{
    position: relative;
    top: 5.4rem;
}


main .container{
    margin:50px auto;
    box-shadow: 0 0 10px #cecece;
    position: relative;
    border: 1px solid transparent;
    height:400px;
    
}

.profile-photo-big{
    position:relative;
    margin:0 0 0 40%;
    align-items:center;
    display:flex;
    justify-content:center;
 }

.profile-photo-big img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:3px solid grey;
}


.welcome-address{
    font-weight: bold;
    text-align: center;
    margin:20px 0 0 0;
}

/* ---------------------------MEDIA QUERY FOR SMALL TABLETS AND MOBILE PHONES-----------------*/

@media screen and (max-width:992px) {

  

   
}

@media screen and (max-width:500px) {
    nav{
        padding: 0.2rem;
    }
 

    main .container{
        grid-template-columns: 0 auto 0;
    }
 

}



















































































































































































































































